# IDEs
.idea/

# Hugo
/resources/
public/
jsconfig.json
node_modules/
exampleSite/resources/_gen/images/media/albums/demo/glenn-carstens-peters-npxXWgQ33ZQ-unsplash_hu4fbee8b709aacc4ebfd59bb0713b9f48_588975_0x190_resize_q75_lanczos.jpg
exampleSite/resources/_gen/images/media/albums/demo/fotografierende-333oj7zFsdg-unsplash_hu3bb23653d32c408eefe8a3992b21fbd2_986191_0x190_resize_q75_lanczos.jpg
